body{
    background-color: black;
}
.header{
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: xx-large;
    text-shadow: 2px 8px 10px rgb(14, 222, 14);
}
hr{
    border-color: white;
}
#card{
    text-align: center;
    margin-right: 20px;
    margin-top:10px ;
    height: 250px;
    width: 400px;
    color: white;
    border: 3px solid rgba(204, 255, 0, 0.86);
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(192, 191, 191, 0.744), 0 6px 20px 0 rgba(161, 159, 159, 0.267);
    border-radius: 8px;
}

#card:hover{
    box-shadow: 0 8px 10px 3px rgba(5, 146, 240, 0.744), 0 6px 20px 0 rgba(161, 159, 159, 0.267); 
}
.details{
    margin-top: 15px;
    margin-left: 10px;
}